p,
.self-info {
  font-family: "Gowun Dodum", sans-serif;
}

.surfing,
.right_menu {
  font-family: "Gowun Dodum", sans-serif;
}

.day,
.date,
.diary_content,
.content_title {
  font-family: "Gowun Dodum", sans-serif;
}
